//@import "../../../src/index.scss";

.profile {
    $margin-left-in-upper-main: 30px;

    //user icon settings
    &.p-icon {
        &.i-container {
            width: 175px;
            height: max-content;
        }

        &.i-image {
            //rwh: border-radius, width and height
            $rwh: 100%;
            border-radius: $rwh;
            width: $rwh;
            height: $rwh;
        }
    }

    //user background settings
    &.p-background {
        &.b-container {
            position: fixed;
            z-index: 5;
            width: 100%;
        }

        &.b-image {
            width: 100%;
            height: auto;
            //max-height: 185px;
            border-radius: 15px 15px 0% 0%;
        }

        &.b-image-container {}
    }

    //div component, which includes information about the user: 
    //icon, buttons “подписаться”, “вы подписаны”, “отписаться”, 
    //information about subscriptions, subscribers and description about the user
    &.p-info {
        &.in-container {
            position: relative;
            z-index: 6;
            padding-top: 130px;
            margin-left: $margin-left-in-upper-main;
            width: max-content;
            height: 189px;
        }

        //username settings
        &.in-name {
            &.n-container {
                width: max-content;
                height: max-content;
                margin-top: 20px;
                //margin-left: 10px;
            }

            &.n-text {
                margin: 0;
                margin-bottom: 25px;
                color: white;
                margin-left: 10px;
                text-shadow: 0px 0px 8px black;
            }
        }

        &.in-upper {
            display: flex;
            margin-bottom: 20px;
        }

        &.in-downer {}
    }

    //users button settings
    &.p-button {
        &.b-container {
            display: inline-block;
            width: max-content;
        }

        &.b-all-buttons {
            //button color in normal view
            $background-subscribe: var(--subscribe-button-background);
            $background-unsubscribe: var(--unsubscribe-button-background);
            $background-subscribed: var(--subscribed-button-background);
            $background-edit-profile: var(--edit-profile-button-background);

            //border color in normal view
            $border-subscribe: var(--subscribe-button-border);
            $border-unsubscribe: var(--unsubscribe-button-border);
            $border-subscribed: var(--subscribed-button-border);
            $border-edit-profile: var(--edit-profile-button-border);

            //general button settings
            width: 215px;
            height: 45px;
            border-radius: 15px;
            //border-style: solid;
            border-style: none;
            margin-left: 10px;
            font-size: 17px;
            color: white;
            cursor: pointer;
            transition: background-color 0.2s ease;

            &.a-subscribe {
                background-color: $background-subscribe;
                //border-color: $border-subscribe;

                &:hover {
                    background-color: #000;
                }
            }

            &.a-unsubscribe {
                background-color: $background-unsubscribe;
                //border-color: $border-unsubscribe;

                &:hover {}
            }

            &.a-subscribed {
                background-color: $background-subscribed;
                //border-color: $border-subscribed;

                &:hover {
                    background-color: $background-unsubscribe;
                    //border-color: $border-unsubscribe;
                    border-style: none;
                }
            }

            &.a-edit-profile {
                border-style: solid;

                background-color: $background-edit-profile;
                border-color: $border-edit-profile;

                &:hover {}
            }
        }

    }

    &.p-links {
        $link-color: #FFFFFF;
        $link-font-size: 14px;

        &.l-container {
            width: max-content;
            margin-top: 10px;
            margin-bottom: 5px;
        }

        &.l-link {
            color: $link-color;
            margin-left: 10px;
            font-size: $link-font-size;

            &:hover {
                //text-decoration: underline;
            }
        }
    }

    &.p-description {
        $description-color: #A5A5A5;
        $description-font-size: 14px;

        &.d-container {
            //width: 80%;
            margin-left: 10px;
            max-width: 80vh;
            display: flex;

            &__change-description {
                width: 35px;
                height: 30px;
                background-color: transparent;
                border-style: solid;
                border-color: transparent;
                cursor: pointer;
                border-left-color: white;
                border-width: 1px;

                &__button {
                    height: 20px;
                }
            }
        }

        &.d-text {
            color: $description-color;
            font-size: $description-font-size;

            transition: text-decoration 0.2 ease;

            cursor: pointer;

            width: 60%;
            display: block;
            align-content: center;

            &.dd-edit-desc {
                width: 100%;
                border-radius: 7px;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                border-style: solid;
                border-color: rgba($color: #ffffff, $alpha: 0.0);
                //border-width: 1px;
                background-color: rgba($color: #000000, $alpha: 0.0);
                color: rgba($color: #ffffff, $alpha: 1.0);

                &:focus {
                    outline: var(--focus-params);
                }
            }

            &__form {
                display: flex;
                justify-content: space-between;
                border-radius: 7px;
                border-style: solid;
                border-color: white;
                border-width: 1px;
            }
        }
    }

    &.p-authors {
        color: #FFFFFF;

        &.a-main-container {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 6;
            height: max-content;
            width: 100%;
            //padding-top: 100px;
            margin-left: $margin-left-in-upper-main;
        }

        &.a-main-text {
            font-size: 20px;
            width: max-content;
        }

        &.a-containers {
            //width: 150px;
            border-radius: 15px;
            background-color: rgba($color: #ffffff, $alpha: 0.0);
            border-style: none;
            padding: 10px;
            cursor: pointer;

            &.c-author-image {
                width: 145px;
                height: max-content;
                border-radius: 100%;
                padding: 0;
            }

            &.c-author-name {
                text-align: center;
                margin: 0;
                margin-top: 5px;
                font-size: 15px;
                padding: 0;
                width: 100%;
            }

            &:hover {
                background-color: rgba($color: #ffffff, $alpha: 0.3);
            }
        }

        &.a-author-button {
            display: flex;
            overflow-x: auto;
            padding-bottom: 15px;
        }
    }
}