//@import "../../../src/index.scss";

html,
body {
    height: 100%;
    overflow: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 60px;
}

.allPanels {
    display: flex;
    flex-direction: row;
}

.HelperPanels {
    width: max-content;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
}

.MainPanels {
    width: 100%;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
}

.main-backdrop {
    background-color: var(--main-panel-bg-color);
    backdrop-filter: blur(var(--blur-panels));
    border-radius: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.cont {
    height: max-content;
    max-width: 10vh;
    min-width: 100%;
}