:root {
    //background color
    --bg-size: 400% 400%;
    --bg-color: linear-gradient(#5F51B5, #000000) fixed;

    //Main 
    /*Colors*/
    --main-panel-bg-color: #1B1818;
    --login-page-bg-color: #1B1818;
    --home-panel-bg-color: #1B1818;
    --library-panel-bg-color: #1B1818;
    --search-panel-bg-color: #1B1818;
    --profile-main-panel: #1B1818;
    --player-panel-bg-color: #1B1818;
    --change-email-password-container-color: #1b18185a;
    --change-email-password-bg-color: #1B1818;

    /*Settings*/
    --blur-panels: 0px;

    //Selection color
    --selection-color: #7800d4;

    //ScrollBar color
    --scrollbar-track-background: #0000 //website track color
    --scrollbar-slider-background: #FFFFFF; //website slider color
    --scrollbar-width-height: 8px; //website width scrollbar
    --scrollbar-thumb-border-radius: 15px; //website border-radius scrollbar

    //Main player colors
    --player-panel-border-color: #0000; //border player's color
    --player-panel-text-color: #ffffff; //text player's color

    //Player buttons

    /*Play-pause button*/
    --player-button-play-background-color: #862ae2; //background play button
    --player-button-pause-background-color: #862ae2; //background pause button
    --player-button-play-icon-color: #ffffff; //icon play button
    --player-button-pause-icon-color: #ffffff; //icon pause button

    /*Previous, next, like and add to playlist buttons*/
    --player-button-previous-icon-color: #ffffff; //previous track button
    --player-button-next-icon-color: #ffffff; //next track button
    --player-button-add-to-playlist-icon-color: #ffffff; //icon add to playlist button
    --player-button-like-unpressed-icon-color: #ffffff; //unpressed icon like button
    --player-button-like-pressed-icon-color: #ffffff; //pressed icon like button

    /*Thumb*/
    --player-timeline-slider-pressed-color: #ffffff; //slider button color pressed 
    --player-timeline-slider-unpressed-color: #ffffff; //slider button color unpressed
    --player-timeline-thumb-pressed-color: #a6a6a6; //track button color pressed
    --player-timeline-thumb-unpressed-color: #a6a6a6; //track button color unpressed

    //Volume
    /*Slider button*/
    --player-volume-inside-unpressed-color: #700FEB; //volume color inside unpressed
    --player-volume-inside-pressed-color: #700FEB; //volume color inside pressed
    --player-volume-outside-unpressed-color: #ffffff; //volume color outside unpressed
    --player-volume-outside-pressed-color: #ffffff; //volume color outside pressed

    /*Track*/
    --player-volume-line-unpressed-color: #ffffff; //track line color unpressed
    --player-volume-line-pressed-color: #ffffff; //track line color pressed

    //Panel "add to playlist"
    /*Main panel*/
    --add-to-playlist-panel-bg-color: #1B1818; //Background color Add To Playlist container
    --add-to-playlist-panel-text-color: #ffffff; //Text color Add To Playlist container

    /*Settings panel*/
    --add-to-playlist-settings-panel-bg-color: #333; //Background color Add To Playlist settings container
    --add-to-playlist-settings-panel-bg-shadow-color: rgba(0, 0, 0, 0.705); //Box Shadow color Add To Playlist settings container
    --add-to-playlist-settings-panel-text-color: #ffffff; //Text color Add To Playlist settings container
    --add-to-playlist-settings-panel-border-color: #ffffff; //Border color Add To Playlist settings container

    //Profile Page
    --profile-main-button-panel-text-enable: #FFFFFF;
    --profile-main-button-panel-text-disable: #908b8b;

    /*Subscribe buttons*/
    --subscribe-button-background: #19BB55;
    --unsubscribe-button-background: #bd1414;
    --subscribed-button-background: #67776D;
    --edit-profile-button-background: #FFF0;

    --subscribe-button-border: #19BB55;
    --unsubscribe-button-border: #bd1414;
    --subscribed-button-border: #67776D;
    --edit-profile-button-border: #FFFFFF;

    --home-panel-buttons-unpressed: #908B8BDE;
    --home-panel-buttons-unpressed-hover: #908B8BDE;
    --home-panel-buttons-pressed: #0000;
    --home-panel-buttons-pressed-hover: #0000;
    --home-panel-buttons-pressed-transition: background-color .0s;
    --home-panel-buttons-unpressed-transition: background-color .0s;
    --link-404-button: #8a8883;
    --focus-params: 1px solid #908b8b;
    --scrollbar-thumb-color: #FFF;
    --scrollbar-thumb-hover-color: #FFF;
    --search-panel-background-color: #FFF;
}

body {
    background: var(--bg-color);
}

::selection {
    background-color: var(--selection-color);
}

::-moz-selection {
    background-color: var(--selection-color);
}

::-webkit-scrollbar {
    width: var(--scrollbar-width-height);
    height: var(--scrollbar-width-height);
}

::-webkit-scrollbar-track {
    border-radius: var(--scrollbar-thumb-border-radius);
    background: var(--scrollbar-track-background);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: var(--scrollbar-thumb-border-radius);

    &:hover {
        background: var(--scrollbar-thumb-hover-color);
    }
}